<div class="logo">
    <h5>EstacionamientoApp</h5>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a (click)="logout($event)" class="nav-link c-pointer">
                <i class="fa fa-sign-out-alt"></i>
                Logout
            </a>
        </li> -->
    </ul>
</div>