<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Informe pago de Residentes</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">

              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="input-placa"> <span class="text-danger">*</span></label>
                  <input type="text" name="placa" class="form-control" id="placa"
                    placeholder="Digite el nombre del archivo" [(ngModel)]="nombre_archivo" #placa="ngModel" required>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary my-4" (click)="downloadPDF()">DESCARGAR</button>
            <button type="button" class="btn btn-secondary my-4" [routerLink]="['/dashboard']">Cancelar</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>